.note {
    border-radius: 40px;
    height: 40px;
    margin-bottom: 19px;
    display: flex;
    flex-direction: row;
}

.wrapper {
    margin-top: 100px;
}

#notes_wrapper {
    width: 50%;
    height: 50%;
}

.body {
    height: 800px;
}

.removeBtn:hover {
    color: red;
}

.removeBtn {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin-right: 25px;
    background-color: red;
    border-radius: 40px;
    width: 36px;
    height: 37px;
    line-height: 34px;
    padding-left: 12px;
    font-weight: bold;
}

#addBtn {
    background-color: rgb(54, 59, 54);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
}